header {
  background-color: #f5b913;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
}
.note {
  background: #000000;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 250px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.25rem;
  margin-bottom: 6px;
}
.note p {
  font-size: 1rem;
  margin: 0;
}
form {
  background: #ffffff00;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
  margin: 20px auto;
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  font-size: 1rem;
  resize: none;
  background: inherit;
}
form button {
  background: #f5ba13;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
.note .actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 20px;
}
.note button {
  background: #f5ba13;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
}
.note input,
.note textarea {
  width: 100%;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  font-size: 1rem;
  resize: none;
  background: inherit; 
}
input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
footer {
  text-align: center;
  padding: 10px;
  background: #ffffff00; 
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
}